# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.ipynb_checkpoints/look-elsewhere-2d-checkpoint.ipynb

.ipynb_checkpoints/root_TH2F_example-checkpoint.ipynb

.ipynb_checkpoints/examples_from_paper-checkpoint.ipynb

.ipynb_checkpoints/create_gaussian_process_examples-checkpoint.ipynb

HiggsLWA.root

HiggsLWANew.root

.ipynb_checkpoints/two-experiment-lee-checkpoint.ipynb

.ipynb_checkpoints/two-experiment-lee-testing-checkpoint.ipynb

.ipynb_checkpoints/nesting_non-nested-checkpoint.ipynb

.ipynb_checkpoints/2ExpDiscreteLEE-checkpoint.ipynb

.ipynb_checkpoints/isotonic_gp-checkpoint.ipynb

.ipynb_checkpoints/create_gaussian_process_examples-fill_holes-checkpoint.ipynb
